/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 *{
   padding: 0px;
   margin: 0px;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav ul a:hover {
  background-color: #c80000;
  color: #f2f2f2!important;
}


.sidenav li:hover {
  background-color: #c80000;
  color: #f2f2f2!important;
}


video#bgvid { 
  min-width: 100%;
  min-height: 100%;
  /*filter: brightness(0.3);*/
}

.gameicon{
  padding: 0px!important;
  margin: 0px!important;
  position: relative;
}
.gameicon img{
 width: 100%!important;
}

.gametag{
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.856);
  width: 100%;
  opacity: 0;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
   -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
       transition: opacity 0.5s ease-in-out;
}

.hovertag{
  filter: alpha(opacity=50);
  opacity: 1;
}

.videocontainer { position:relative; }
.videocontainer video {
    position:relative;
    z-index:0;
    width: 100%;
}
.overlay {
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:1;
}

.sidenav-trigger{
 color: #c80000!important;
}


#services li {
  width: 40px;
  height: 40px;
  margin: 20px 5px 0px 0px;
  list-style: none;
  position: relative;
  left: -2%;
  display: inline-block!important;
  }
  #services li div {
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 2.4em;
  text-align: center;
  line-height: 37px;
  background-color: N/A;
  transition: all 0.5s ease;
  }
  #services li a {
  color: #fff;
  }
  #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
  }
  #services  span {
  width: 40px;
  height: 40px;
  display: inline-block;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  position: relative;
  left: 50px;
  bottom: 35px;
  translate: (-50,-50);
  }

  .overlay img{
    width: 60%;
    position: relative;
    left: 25%;
    height: auto;
  }